<div class="container">
  <div class="key">
    <span>
      <i class="fab fa-chrome" aria-hidden="true" style="background-color: #4285F4;"></i>
      Stable Release
    </span>
    <span>
      <i class="fab fa-chrome" aria-hidden="true" style="background-color: #0F9D58;"></i>
      Beta Release
    </span>
  </div>
  <div class="chromium-calendar">Loading Chromium milestone data...</div>
</div>
<script src="/js/chromium.js" defer></script>